/* ThemeToggleButton.module.css */

.toggleButton {
    background-color: #101a26;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    /* position: fixed; */
    top: 15px;
    right: 20px;
    margin-right: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .toggleButton:hover {
    background-color: #005bb5;
  }
  
  .darkMode .toggleButton {
    background-color: #fff;
    color: #333;
  }
  
  .darkMode .toggleButton:hover {
    background-color: #ccc;
  }
  