.cartContainer {
    padding: 20px;
    margin-top: 20px;
  }
  
  .cartContainer h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .emptyCart {
    font-size: 18px;
    color: #555;
  }
  
  .cartItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .cartItemImage {
    border-radius: 8px;
  }
  
  .cartItemDetails {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .oldPrice {
    text-decoration: line-through;
    color: red;
  }
  
  .removeButton {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .totalPrice {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
  }
  