*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* global.css */

:root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  [data-theme='dark'] {
    --background-color: #121212;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--background-color);
    overflow-x: hidden;
    color: var(--text-color);
  }
  

